# Ignore node_modules (for Node.js projects)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock

# Ignore Hardhat cache and artifacts
cache/
artifacts/
typechain/

# Ignore environment variables
.env
.env.local
.env.*.local

# Ignore logs
logs/
*.log

# Ignore coverage directory
coverage/

# Ignore Truffle/Hardhat deployments
deployments/

# Ignore VS Code workspace files
.vscode/

# Ignore Mac system files
.DS_Store

# Ignore Hardhat gas reports
gasReporterOutput.json

# Ignore compiled contracts
*.json
*.sol.js

# Ignore build outputs
dist/
out/
build/
postAssets/
input-video.mp4
# Ignore IDE specific files (JetBrains, VSCode, etc.)
.idea/
*.iml
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
